@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

:root {
  --primary-color: #00b7af; 
  --secondary-color: #e9630a; 
  --accent-color: #fee7b3; 
  --background-color: #f3f4f6; 
  --text-color: #333333; 
  --white: #ffffff; 
  --button-hover-color: #ff8c42; 
  --button-text-color: #111111; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Funnel Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Delius', cursive;
  color: var(--secondary-color);
  font-size: 2rem;
}

header {
  width: 100%;
  background: var(--primary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 1.5rem;
}

header nav ul li a {
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

header nav ul li a:hover {
  color: var(--secondary-color);
  transform: scale(1.1);
}

/* section */
section {
  padding: 4rem 2rem;
  text-align: center;
  position: relative;
  background-color: var(--accent-color);
}

/* effet de vague après Jody et au-dessus de contact */
#home::after, #contact::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 80px;
  background: url('../assets/wave.svg') repeat-x;
  background-size: cover;
  z-index: 1;
}

#home::after {
  bottom: -20px;
}

#contact::before {
  top: -20px;
  transform: rotate(180deg);
}

#home {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 5rem 2rem;
}

#home h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--white);
}

#home .home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home-photo {
  width: 150px;
  height: auto;
  border-radius: 30%;
  border: 4px solid var(--secondary-color);
}

#projects .project {
  background: var(--white);
  padding: 2rem;
  margin: 1.5rem auto;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #f9ebcc;
}

#projects .project img {
  width: 100%;
  height: auto;
  margin: 0 auto 1rem;
  display: block;
  border-radius: 8px;
}

#projects .project:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#projects .project h3 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

#projects .project a {
  color: var(--button-text-color);
  background-color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

#projects .project a:hover {
  background-color: var(--button-hover-color);
  transform: scale(1.05);
}

#contact {
  background: var(--primary-color);
  color: var(--white);
  padding: 3rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact p {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

#contact p .contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

#contact p i {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

 /* effet au scroll*/
.fade-in-content {
  opacity: 0; 
  transform: translateY(50px); /* décalage vertical */
  transition: opacity 1.2s ease-out, transform 1.2s ease-out;
  visibility: hidden; 
}

.fade-in-content.fade-in-left {
  transform: translateX(-50px); /* décalage horizontal à gauche */
}

.fade-in-content.fade-in-right {
  transform: translateX(50px); /* à droite */
}

.fade-in-content.visible {
  opacity: 1; 
  transform: translateX(0) translateY(0); 
  visibility: visible;
}

/* compétences */
#skills {
  padding: 4rem 2rem;
  background-color: var(--accent-color);
  text-align: center;
}

#skills h2 {
  font-family: 'Delius', cursive;
  color: var(--secondary-color);
  margin-bottom: 2rem;
  font-size: 2rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: default;
}

.skill i {
  font-size: 3rem;
  color: var(--primary-color);
  transition: color 0.3s ease, transform 0.3s ease;
}

.skill p {
  font-family: 'Funnel Sans', sans-serif;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: bold;
}

.skill:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.skill:hover i {
  color: var(--secondary-color);
  transform: rotate(10deg);
}

/* présentation du projet */
#details {
  background-color: var(--accent-color);
  padding: 4rem 2rem;
  text-align: center;
  border-radius: 8px;
}

/* techno */
#technologies {
  background-color: var(--accent-color);
  padding: 4rem 2rem;
}

#technologies .skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

/* fonctionnalité */
#features {
  background-color: var(--accent-color);
  padding: 4rem 2rem;
  text-align: center;
}

#features ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

#features ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: var(--text-color);
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* vidéo */
#demo {
  background-color: var(--accent-color);
  padding: 4rem 2rem;
  text-align: center;
}

#demo video {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* footer */
footer {
  text-align: center;
  padding: 1rem 0;
  background: var(--secondary-color);
  color: var(--white);
}

footer p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

footer p .contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer p i {
  font-size: 1.5rem;
  color: var(--white);
}

footer p i.email {
  color: var(--primary-color);
}

footer p i.phone {
  color: var(--secondary-color);
}

/* responsive footer */
@media (min-width: 768px) {
  footer p {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  footer p .contact-item {
    flex-direction: row;
  }
}

/* boutons */
.btn-primary {
  background-color: var(--primary-color);
  color: var(--button-text-color);
  padding: 0.8rem 2rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
  background-color: var(--button-hover-color);
  transform: scale(1.05);
}

/* animation au survol */
a {
  position: relative;
  display: inline-block;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: var(--secondary-color);
  transition: width 0.3s;
}

a:hover::after {
  width: 100%;
}

/* mobile first */
header nav ul {
  flex-direction: column;
  align-items: center;
}

header nav ul li {
  margin: 10px 0;
}

@media (min-width: 768px) {
  header nav ul {
    flex-direction: row;
    justify-content: space-around;
  }

  #home h1 {
    font-size: 4rem;
  }

  #projects .project {
    max-width: 800px;
  }
}